h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 12px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4,
h5,
h6 {
  font-size: 16px;
}

p {
  margin-top: 0;
}
