@use './variables.scss' as *;
@use 'typography';
@use 'buttons';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: #f8fafc;
  text-rendering: optimizelegibility;
}

table {
  border-spacing: 0;
}

#app {
  height: 100dvh;
  max-height: 100dvh;

  @media (max-width: $breakpoint-lg) {
    height: auto;
    max-height: unset;
  }
}

.container {
  max-width: 1920px;
  padding-right: 24px;
  padding-left: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.pt-0 {
  padding-top: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
