@use './reset.scss';
@use './variables.scss';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f8fafc;
  text-rendering: optimizeLegibility;
}

#app {
  height: 100dvh;
  max-height: 100dvh;
}

.container {
  max-width: 1920px;
  padding-left: 24px;
  padding-right: 24px;
}

.button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.button-primary {

}

.button-secondary {

}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 12px;
}

h1 {
font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4, h5, h6 {
  font-size: 16px;
}

p {
  margin-top: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 8px;
}

.pt-0 {
  padding-top: 0;
}
